AwsSamples/2023-12-15-CdkStepFunctions/LambdaSample2/orig.asl.json
{
  "StartAt": "FirstState",
  "States": {
    "FirstState": {
      "Next": "ChoiceState",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ClientExecutionTimeoutException",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Type": "Task",
      "Resource": "作成したLambdaの実行を指定",
      "Parameters": {
        "InputPath.$": "$.throw"
      }
    },
    "ChoiceState": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.bar",
          "StringEquals": "Tied",
          "Next": "Tied"
        },
        {
          "Variable": "$.bar",
          "StringEquals": "You win",
          "Next": "Won"
        },
        {
          "Variable": "$.bar",
          "StringEquals": "You lose",
          "Next": "Lost"
        }
      ],
      "Default": "DefaultState"
    },
    "Tied": {
      "Type": "Pass",
      "Result": "Tied",
      "Next": "LastState"
    },
    "Won": {
      "Type": "Pass",
      "Result": "Won",
      "Next": "LastState"
    },
    "Lost": {
      "Type": "Pass",
      "Result": "Lost",
      "Next": "LastState"
    },
    "DefaultState": {
      "Type": "Fail",
      "Cause": "Not match"
    },
    "LastState": {
      "Type": "Pass",
      "End": true
    }
  },
  "Comment": "Tomato"
}
